# .envrc for discreetly

# Prefer pyenv over the python3 layout
#   Requires use_python() to be defined in ~/.config/direnv/direnvrc
#   see: https://github.com/direnv/direnv/wiki/Python#pyenv
if has pyenv; then
  use pyenv 2.7.16 3.7.3
else
  layout python
fi
